<div class="text-align">
  <br />
  <h1><p>Quiz d'entraînement</p></h1>
</div>
<br />
<div class="text-align">
  <table class="table">
    <tr>
      <button (click)="quiz1()">Facile</button>
    </tr>
    <tr>
      <button (click)="quiz1()">Intermédiaire</button>
    </tr>
    <tr>
      <button (click)="quiz1()">Difficile</button>
    </tr>
  </table>
</div>
<!--<div>
  <strong> <p class="para-titre">Informations Importantes</p></strong>
  <br /><br /><br />
  <p style="text-indent: 25%">
    Mettre des infos concernant les regles du quizz classé mais pour l'instant
    j'ai pas d'inspi
  </p>
</div>
<br /><br /><br />
<div>
  <button style="margin-left: 40%">Lancer</button>
</div>-->
