<br />
<br />
<br />
<h1 style="text-align: center">Classements</h1>
<br />
<br />
<br />

<div id="global">
  <div id="gauche" style="text-align: center">
    <h3 style="margin-right: 150px">Classement général</h3>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th>Pseudo</th>
          <th>Classement</th>
          <th>Quizs finis</th>
          <th>Bonnes réponses</th>
          <th>Ratio</th>
          <th>Score total</th>
        </tr>
      </thead>
      <tr>
        <td>Gianni</td>
        <td>2</td>
        <td>43531</td>
        <td>5476</td>
        <td>50%</td>
        <td>61587</td>
      </tr>
      <tr>
        <td>Louis</td>
        <td>1</td>
        <td>3453212</td>
        <td>456</td>
        <td>100%</td>
        <td>135274</td>
      </tr>
      <tr>
        <td>Martin</td>
        <td>3</td>
        <td>543123</td>
        <td>0</td>
        <td>0%</td>
        <td>0</td>
      </tr>
    </table>
  </div>

  <div id="droite">
    <h3 style="margin-left: 150px">Classement de la semaine</h3>
    <br />
    <table class="table" style="text-align: center">
      <thead>
        <tr>
          <th>Pseudo</th>
          <th>Score</th>
          <th>Rang</th>
        </tr>
      </thead>
      <tr>
        <td>Gianni</td>
        <td>653431</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Louis</td>
        <td>21354</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Martin</td>
        <td>136857</td>
        <td>3</td>
      </tr>
    </table>
  </div>
</div>
