<br /><br /><br />
<h1 style="text-align: center">Mon Compte</h1>
<br /><br /><br />
<div class="login">
  <h2 class="login-header" style="text-align: center">
    Modifier les informations personnelles
  </h2>

  <p>
    Prénom :<input
      type="prenom"
      placeholder="Prenom"
      formControlName="firstName"
      autocomplete="username"
    />
  </p>

  <div class="help-block"></div>

  <p>Nom:<input type="nom" placeholder="Nom" formControlName="lastName" /></p>

  <div class="help-block"></div>

  <p>
    E-mail: <input type="email" placeholder="Email" formControlName="email" />
  </p>

  <div class="help-block"></div>

  <div class="help-block"></div>

  <p>
    Mot de passe :
    <input
      type="password"
      placeholder="Mot de passe"
      formControlName="password"
      autocomplete="new-password"
    />
  </p>

  <div class="help-block"></div>

  <div class="help-block"></div>

  <!--
    <p>
      <input
        type="password"
        placeholder="Confirmer le mot de passe"
        formControlName="password"
      />
    </p>

    <div class="help-block" *ngIf="!registerForm.value.confirmPassword">
      <font color="red">Le mot de passe ne correspond pas</font>
    </div>
-->
  <p>
    <input type="submit" value="Enregistrement" />
  </p>
</div>
