<br />
<br />
<div class="compte" style="text-align: center">
  <h2 class="login-header">Modification du compte</h2>
  <form>
    <p>
      <br />
      <input
        type="prenom"
        placeholder="Prenom"
        formControlName="firstName"
        autocomplete="username"
      />
    </p>
    <p>
      <input type="submit" value="Enregistrement" />
    </p>
    <p>
      <input type="nom" placeholder="Nom" formControlName="lastName" />
    </p>
    <p>
      <input type="submit" value="Enregistrement" />
    </p>
    <p>
      <input type="email" placeholder="Email" formControlName="email" />
    </p>
    <p>
      <input type="submit" value="Enregistrement" />
    </p>
    <p>
      <input
        type="password"
        placeholder="Mot de passe"
        formControlName="password"
      />
    </p>
    <p>
      <input
        type="password"
        placeholder="Confirmation du mdp"
        formControlName="password"
      />
    </p>
    <p>
      <input type="submit" value="Enregistrement" />
    </p>
  </form>
</div>
