<div class="text-align"><h1>Commencer un Quiz</h1></div>
<body>
  <div id="global">
    <div id="gauche">
      <button style="margin-left: 20%">Entrainement</button>
    </div>
    <div id="droite">
      <button>Quizz Classé</button>
    </div>
    <div style="margin-left: 12%">
      Niveau de Difficulté :
      <select name="Niveau" id="niveau" style="margin-left: 5%">
        <option value="1">Niveau 1</option>
        <option value="2">Niveau 2</option>
        <option value="3">Niveau 3</option>
        <option value="4">Niveau 4</option>
        <option value="5">Niveau 5</option>
        <option value="6">Niveau 6</option>
        <option value="7">Niveau 7</option>
        <option value="8">Niveau 8</option>
        <option value="9">Niveau 9</option>
        <option value="10">Niveau 10</option>
      </select>
    </div>
  </div>
  <br />
  <br />
  <br />

  <div id="global">
    <div id="gauche">
      <textarea class="textarea" style="margin-left: 12%"></textarea>
    </div>
    <div id="droite">
      <textarea class="textarea"></textarea>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />

  <table class="table" **ngIf="estConnecte">
    <thead>
      <tr>
        <th>Niveau</th>
        <th>Score obtenu</th>
        <th>Trophées</th>
      </tr>
    </thead>
    <tr>
      <td>Niveau 1</td>
      <td>55</td>
      <td>Trophées</td>
    </tr>
    <tr>
      <td>Niveau 1</td>
      <td>55</td>
      <td>Trophées</td>
    </tr>
    <tr>
      <td>Niveau 1</td>
      <td>55</td>
      <td>Trophées</td>
    </tr>
    <tr>
      <td>Niveau 1</td>
      <td>55</td>
      <td>Trophées</td>
    </tr>
    <tr>
      <td>Niveau 1</td>
      <td>55</td>
      <td>Trophées</td>
    </tr>
    <tr>
      <td>Niveau 1</td>
      <td>55</td>
      <td>Trophées</td>
    </tr>
    <tr>
      <td>Niveau 1</td>
      <td>55</td>
      <td>Trophées</td>
    </tr>
    <tr>
      <td>Niveau 1</td>
      <td>55</td>
      <td>Trophées</td>
    </tr>
    <tr>
      <td>Niveau 1</td>
      <td>55</td>
      <td>Trophées</td>
    </tr>
    <tr>
      <td>Niveau 1</td>
      <td>55</td>
      <td>Trophées</td>
    </tr>
  </table>
</body>
