<h1 style="text-align: center">Inscription</h1>
<div class="login">
  <h2 class="login-header">Creation d'un nouveau compte</h2>
  <form class="login-container" [formGroup]="registerForm" (ngSubmit)="send()">
    <p>
      <input type="prenom" placeholder="Prenom" formControlName="firstName" />
    </p>

    <div
      class="help-block"
      *ngIf="!registerForm.value.firstName && registerForm.touched"
    >
      <font color="red">Le prenom est requis</font>
    </div>

    <p>
      <input type="nom" placeholder="Nom" formControlName="lastName" />
    </p>

    <div
      class="help-block"
      *ngIf="!registerForm.value.lastName && registerForm.touched"
    >
      <font color="red">Le nom est requis</font>
    </div>

    <p>
      <input type="email" placeholder="Email" formControlName="email" />
    </p>

    <div class="help-block" *ngIf="isSubmitted && formControls.email.errors">
      <font color="red">L'email n'est pas valide</font>
    </div>
    <div
      class="help-block"
      *ngIf="formControls.email.errors && formControls.email.touched"
    >
      <div>
        <font color="red">L'email est requis</font>
      </div>
    </div>

    <p>
      <input
        type="password"
        placeholder="Mot de passe"
        formControlName="password"
      />
    </p>

    <div
      class="help-block"
      *ngIf="!registerForm.value.password && registerForm.touched"
    >
      <font color="red">Mot de passe requis</font>
    </div>

    <p>
      <input
        type="password"
        placeholder="Confirmer le mot de passe"
        formControlName="password"
      />
    </p>

    <div
      class="help-block"
      *ngIf="!registerForm.value.confirmPassword && registerForm.touched"
    >
      <font color="red">Le mot de passe ne correspond pas</font>
    </div>

    <p>
      <input type="submit" value="Enregistrement" />
    </p>
  </form>
</div>
