<br />
<div class="text-align">
  <h1><p>Quiz facile</p></h1>
</div>
<!--  -->
<div
  *ngIf="quiz && displayQuestion == quiz.questions.length"
  class="text-align"
>
  <h2>Score: {{ compteur }}</h2>
</div>
<div *ngIf="quiz">
  <div *ngFor="let question of quiz.questions; let i = index">
    <app-quiz-question
      *ngIf="i == displayQuestion"
      (choix)="afficherQuestion($event)"
      [question]="question"
      [numeroQuestion]="i"
    ></app-quiz-question>
  </div>
</div>

<!--<div id="gauche">-->

<!-- <input
            style="margin-left: 20%"
            type="radio"
            id="1"
            name="reponse"
            value="1"
          />
          {{ question.reponse1 }}
        </div>

        <div id="droite">
          <input
            style="margin-left: 20%"
            type="radio"
            id="2"
            name="reponse"
            value="2"
          />
          {{ question.reponse2 }}
        </div>
        <br />
        <div id="global"></div>
        <div id="gauche">
          <input
            style="margin-left: 20%"
            type="radio"
            id="3"
            name="reponse"
            value="3"
          />
          {{ question.reponse3 }}
        </div>

        <div id="droite">
          <input
            style="margin-left: 20%"
            type="radio"
            id="4"
            name="reponse"
            value="4"
          />
          {{ question.reponse4 }}
        </div>-->
