<nav class="navbar">
  <a
    [routerLink]="['/home']"
    routerLinkActive="active"
    class="btn btn-link"
    >Sopra-Quiz</a
  >
  <a
    [routerLink]="['/classement']"
    routerLinkActive="active"
    class="btn btn-link"
    >Classement</a
  >
  <a
    [routerLink]="['/quizs']"
    routerLinkActive="active"
    class="btn btn-link"
  >
    Quizs</a
  >
  <app-loged *ngIf="estConnecte()"></app-loged>
  <app-notloged *ngIf="!estConnecte()"></app-notloged>
</nav>

<router-outlet></router-outlet>
