<br />
<br />
<br />

<div class="text-align"><h1>Quiz terminé!!</h1></div>
<div class="rep-boxed">
  <p></p>
  <h1>
    <strong><U>Ton résultat :</U></strong>
  </h1>
  <br />
  <br />
  <h3>Taux de bonnes réponses :</h3>
  <br />
  <br />
  <h3>Classement de la semaine :</h3>
  <br />
  <br />
  <h3>Classement Général :</h3>
</div>

<div style="margin-left: 60%">
  <button>
    <a
      [routerLink]="['/quizs']"
      routerLinkActive="active"
      style="margin-left: 10%"
      >Nouveau Quizz</a
    >
  </button>
</div>
<div style="margin-left: 20%">
  <h4>Partage ton score sur tes réseaux !!</h4>
  <div style="margin-left: 5%">
    <a
      [routerLink]="['/resaux']"
      routerLinkActive="active"
      style="margin-left: 10%"
      ><img class="img-size" src="assets\img\87390.png"
    /></a>
  </div>
</div>
